html
	head
		title= title
	body
	div
		h2 cashier
	
	div browser
	div 
		table(border='1')
			thead
				tr 
					th(colspan=6) header   
				tr 	
					th No.
					th Nama Barang
					th Satuan
					th Jumlah
					th Harga Satuan
					th Total Harga
			tbody 
				tr 
					td 1
					td Mosfet
					td bj
					td 23
					td 15000
					td 12 * 15000
			tfoot 
				tr 
					td(colspan=5) Sub total
					td 23 * 15000
				tr 
					td(colspan=5) Bayar
					td 1000000
				tr 
					td(colspan=5) Kembali
					td 230000
				tr 
					td(colspan=6) footer

block content