doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    a(href='../') HOME 
    a(href='../fileman') fileman 
    a(href='../cashier') cashier 
    a(href='../catalog') Catalogue  
    a(href='../users') User 
    
    block content
